.single {margin:10px;border:solid 0px grey;}
.container {margin:10px auto;width:75%;box-shadow:0 0 20px black;padding:15px;min-height:300px;}
.post_judul {font-size:2em;margin:10px;border-bottom:0px solid grey;padding:5px;}
a{text-decoration:none;}
a:hover {text-decoration:underline;}
.post_attr {list-style-type:none;}
.post_attr li{display:inline;margin:5px 0 5px 5px;}
.post_poto{max-width:300px;float:left;margin:10px;}
.posts{padding:5px;}
.posts:nth-child(odd) {background:#bbb;}
.posts:nth-child(eve) {background:#ddd;}
.clear{clear:both;}
ul.menu{list-style-type:none;padding:10px 0;border:1px solid black;}
.menu li{display:inline;border:1px solid black;padding:10px;}
.wrapper{width:90%;margin:0 auto;}
.searchform{margin-bottom:20px;float:right;}
input[type="text"]{padding:13px 0px 3px 10px;height:17px;}
input[type="password"]{padding:5px 10px;height:37px;}
input[type="submit"]{height: 29px;padding: 10px 10px 22px 10px;}
table{width:100%;}
.message{color:red;}
.error{color:red;}
.footer{text-align:center;}
.pagination{text-align:center;}
.pagination a{border:1px solid black;padding:2px;margin:3px;display:inline-block;}